body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(218, 229, 223);
    /* background-image: url('/images/saha5.jpg'); 
    background-size: cover;
    background-position: center; */
    

}

.custom-button {
    background-color: rgb(32, 146, 32) !important; 
    transition: background-color 0.3s !important;
    border: none; 
}

.custom-button:hover {
    background-color: rgb(23, 85, 23) !important; 
    color: white !important; 
}