.user-reservations .ant-list-item {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-reservations .ant-list-item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px); 
}

.user-reservations {
    background-image: url("/public/images/saha6.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.user-reservations-card{
    margin: 20px;
    width: 850px;
    height: max-content
}